*{
    margin: 0;
}
body{
    font-family: sans-serif;
    padding: 40px;
}

.toDo{
    width: 50%;
    margin: auto;
    background-color: black;
    padding: 20px;
    border-radius: 6px;
}
h2{
    text-align: center;
}
.inputTask{
    display: flex;
    gap: 5px;
    margin: 10px 50px;
}
input{
    padding: 10px;
    width: 20%;
}

#task{
    width: 70%;
}
button{
    padding: 10px 15px;
}
ul{
    width: 70%;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    margin: 10px;
    padding: 4px;
    background-color: beige;
}
.task-text{
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word;
}

.completed{
    text-decoration: line-through;
    color: lightgray;
}
.edit-btn{
    background: green;
    color: white;
    width: 70px;
    border: none;
    border-radius: 6px;
}
.delete-btn{
    background: black;
    color: white;
    width: 70px;
    border: none;
    border-radius: 6px;
}
.x-btn{
    width: 24%;
    margin-top: 15px;
    margin-left: 50px;
    background: black;
    cursor: pointer;
    color: red;
    font-weight: bolder;
    border:2px solid white;
    border-radius: 4px;
}